<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--注释扫描-->
    <context:component-scan base-package="demo.ssm.controller"></context:component-scan>

    <!--视图解析器对象-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/ssm/"/>   <!--这个页面如果是静态即html  在下面要标记-->
        <property name="suffix" value=".html"/>
    </bean>

    <bean class="demo.ssm.config.SwaggerConfig"></bean>
    <!--开启SpringMVC框架注释支持-->
    <mvc:annotation-driven/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 配置拦截器 -->
        <mvc:interceptor>
            <!-- 要拦截的具体的方法 -->
            <mvc:mapping path="/employee/*"/>
            <!--不要拦截的方法-->
            <mvc:exclude-mapping path="/employee/login"/>
            <mvc:exclude-mapping path="/employee/sendSMS"/>
            <mvc:exclude-mapping path="/employee/loginBySMS"/>
            <!-- 配置拦截器对象 -->
            <bean class="demo.ssm.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <!--         <mvc:interceptor>
                    &lt;!&ndash; 要拦截的所有的方法 &ndash;&gt;       &lt;!&ndash;所有&ndash;&gt;
                    <mvc:mapping path="/**"/>
                    &lt;!&ndash; 不要拦截的方法
                                <mvc:exclude-mapping path=""/>
                                 &ndash;&gt;
                    &lt;!&ndash; 配置拦截器对象 &ndash;&gt;
                    <bean class="org.me.interceptor.InterceptorByMyself2"/>
                </mvc:interceptor>-->
    </mvc:interceptors>
    <!-- 配置异常处理器 -->
    <bean id="sysExceptionResolver" class="demo.ssm.exception.SysExceptionResolver"/>

    <!--标记静态资源，避免被拦截-->  <!--刷新maven-->
    <mvc:default-servlet-handler/>
    <mvc:resources  mapping="swagger/**" location="swagger"/>
</beans>